html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
p{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: stretch;
    background-color: antiquewhite;
    border-color: blanchedalmond;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    
}
br{
    gap: 5px;
}
.logo-loyola{
    float: inline-start;
}
.logo-loyolacse{
    float: inline-start;
    background-color: aliceblue;
    width: 180px;
    height: 180px;
}
body{
    background-size: cover;
    background-image: url('https://png.pngtree.com/background/20230414/original/pngtree-sea-%E2%80%8B%E2%80%8Bsunrise-scenery-blue-sky-clouds-beautiful-sky-background-picture-image_2424890.jpg');
}
.heading-bar{
    padding-right: auto;
    display: flex;
    width: 100%;
    gap: stretch;
    align-self: center;
    justify-content: space-evenly;
    background-color: rgb(212, 212, 212);
    border-radius: 40px;
    position: fixed;
}
.loyola-heading{
    background-color: aliceblue;
}
.logo-loyola{
    display: flex;
    justify-content: left;
    height: 210px;
    width: 210px;
}
h1{
    display: flex;
    justify-content: center;
}
.div-home{
    gap: 100px;
    justify-content: right;
}
h2{
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    background-color: aliceblue;
}
h3{
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    background-color: aliceblue;
}
h4{
    background-color: aliceblue;
}
img{
    display: flex;
    justify-content: center;
}
p1{
    background-color: aliceblue;
    gap: 5px;
}
p2{
    background-color: aliceblue;
}
p3{
    background-color: aliceblue;
}
.will-smith{
    float: inline-start;
    padding: 15px;
    padding-top: 0px;
    margin-right: 10px;
    border-color: rgb(226, 226, 234);
    border-style: double;
    border-radius: 40px;
}